In [48]:
aggregated_df = data[['Date', 'TOTALDEMAND','PRICECATEGORY','Maximum temperature (°C)','Minimum temperature (°C)','Speed of maximum wind gust (km/h)','Rainfall (mm)']].groupby('Date').agg('max')
aggregated_df = aggregate_data[['Date', 'TOTALDEMAND','PRICECATEGORY','Maximum temperature (°C)','Minimum temperature (°C)','Speed of maximum wind gust (km/h)','Rainfall (mm)']].groupby('Date').agg('mean')
peek = aggregated_df.head(60)
peek

KeyError: "['Date'] not in index"

In [41]:
aggregated_df.tail(5)

,TOTALDEMAND,Maximum temperature (°C),Minimum temperature (°C),Speed of maximum wind gust (km/h),Rainfall (mm)
Date,,,,,
9/04/2021,4539.437,17.3,13.8,35.0,6.2
9/05/2021,4138.748,20.5,11.0,28.0,0.4
9/06/2021,5776.989,14.7,7.8,67.0,4.0
9/07/2021,6099.853,12.0,2.0,15.0,NaN
9/08/2021,5395.073,16.4,7.1,30.0,0.0

In [42]:
types = aggregated_df.dtypes
print(types)

TOTALDEMAND                          float64
Maximum temperature (°C)             float64
Minimum temperature (°C)             float64
Speed of maximum wind gust (km/h)    float64
Rainfall (mm)                        float64
dtype: object

In [43]:
# Replace each null value with its mean value
newdata = aggregated_df.fillna(aggregated_df.mean())
newdata

,TOTALDEMAND,Maximum temperature (°C),Minimum temperature (°C),Speed of maximum wind gust (km/h),Rainfall (mm)
Date,,,,,
1/01/2021,3954.327,29.9,15.6,31.0,0.000
1/02/2021,4670.888,20.3,13.4,33.0,0.000
1/03/2021,4483.006,21.7,13.8,44.0,0.000
1/04/2021,4794.322,29.9,12.4,20.0,0.000
1/05/2021,4199.076,24.6,11.2,33.0,0.000
...,...,...,...,...,...
9/04/2021,4539.437,17.3,13.8,35.0,6.200
9/05/2021,4138.748,20.5,11.0,28.0,0.400
9/06/2021,5776.989,14.7,7.8,67.0,4.000
9/07/2021,6099.853,12.0,2.0,15.0,1.577
9/08/2021,5395.073,16.4,7.1,30.0,0.000

In [44]:
newdata.groupby("PRICECATEGORY")

KeyError: 'PRICECATEGORY'

In [35]:
# replaece price's category with int index 
newdata2 = newdata.replace({'LOW':0,'MEDIUM':1,'HIGH':2,'EXTREME':3},regex = True)
newdata2.head()

,TOTALDEMAND,PRICECATEGORY,Maximum temperature (°C),Minimum temperature (°C),Speed of maximum wind gust (km/h),Rainfall (mm)
Date,,,,,,
1/01/2021,5019.64,0,29.9,15.6,31.0,0.0
1/02/2021,5228.29,1,20.3,13.4,33.0,0.0
1/03/2021,5225.37,0,21.7,13.8,44.0,0.0
1/04/2021,5807.02,1,29.9,12.4,20.0,0.0
1/05/2021,5261.09,1,24.6,11.2,33.0,0.0

In [31]:
newdata2.isnull().any()

TOTALDEMAND                          False
PRICECATEGORY                        False
Maximum temperature (°C)             False
Minimum temperature (°C)             False
Speed of maximum wind gust (km/h)    False
Rainfall (mm)                        False
dtype: bool

In [28]:
types2 = newdata2.dtypes
print(types2)

TOTALDEMAND                          float64
PRICECATEGORY                          int64
Maximum temperature (°C)             float64
Minimum temperature (°C)             float64
Speed of maximum wind gust (km/h)    float64
Rainfall (mm)                        float64
dtype: object

In [ ]:
# Plotting 2 side-by-side plots using axis

# This creates a sketch area of 1 row, 2 plots
# ax1 and ax2 refer to the 2 "axis"
fig, (ax1, ax2) = plt.subplots(1, 2) 

# Title for both plots
fig.suptitle('Distribution of TOTALDEMAND') 

# Draw the first plot: Box plot
ax1.boxplot(newdata3['TOTALDEMAND']) 

# Draw the second plot: Histogram
ax2.hist(newdata3['TOTALDEMAND'])